<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All cars</title>
</head>
<body>
<h1 th:text="${something}"/>
<table border="1">
    <thead>
    <tr>
        <th scope="col">Brand</th>
        <th scope="col">Model</th>
        <th scope="col">Cost, $</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car: ${cars}">
        <td th:text="${car.getCarBrand()}"/>
        <td th:text="${car.getCarModel()}"/>
        <td th:text="${car.getCarCost()}"/>
    </tr>
    </tbody>
</table>
</body>
</html>