<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<p th:text="${user.getId()}"> VALUE </p>
<p th:text="${user.getFirstName()}"> VALUE </p>
<p th:text="${user.getLastName()}"> VALUE </p>
<p th:text="${user.getEmail()}"> VALUE </p>

<br/>
<a th:href="@{/users/{id}/edit (id=${user.getId()})}">Edit</a>
<br/>
<br/>
<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>

<hr/>
<br/>

<a href="/users"> Back to all users</a>

</body>
</html>